body {
    background-color: #d3d3d3;
}

ent {
    background-color: #37b08d;
    margin-left:-1%;
    margin-right:-100%;
    padding-top:10%;
    padding-left:9%;
    padding-right:100%;
    margin-top:-10%;
    padding-bottom:3%;
}

#logo{
    width:125px;
    height:62px;
    position:absolute;
}

#panier {
    position:absolute;
    width: 25px;
    height: 25px;
    margin-left:75%;
    margin-top:35px;
}

#reche {
    margin-left:20%;
    margin-top:21px;
    font-size: large;
    padding-right: 20%;
    position:absolute;
}

menu {
    background-color: #2e7d67;
    margin-top: 2.9%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left:-1%;
}

menu a {
    font-size: x-large;
    color: white;
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
    border-left: solid;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 11px;
    margin-right:-5px;
}

menu a:first-of-type{
    border:none;
    margin-left:80px;
}

menu a:hover {
    background-color: #45d6ab;
}