body {
    background-color: #d3d3d3;
    margin-left:-1px;
}

ent {
    background-color: #37b08d;
    margin-left:-1%;
    margin-right:-100%;
    padding-top:10%;
    padding-left:9%;
    padding-right:107%;
    margin-top:-10%;
    padding-bottom:50px;
    
}

#logo{
    width:125px;
    height:62px;
    position:absolute;
    margin-left:2%;
}

#panier {
    position:absolute;
    width: 35px;
    height: 35px;
    margin-left:75%;
    margin-top:25px;
}

#reche {
    margin-left:25%;
    margin-top:16px;
    font-size: large;
    padding-right: 20%;
    position:absolute;
}

menu {
    display:flex;
    background-color: #2e7d67;
    margin-top: 49px;
    margin-left: 0%;
    margin-right:0%;
    margin-bottom:0px;
    width:100%;
}

menu a {
    text-align:center;
    flex:1;
    font-size: 100%;
    color: white;
    text-decoration: none;
    padding-left: 4%;
    padding-right: 4%;
    border-left: solid;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 11px;
    width:10%;
}

menu a:first-of-type{
    border:none;
    margin-left:-4%;
}

menu a:hover {
    background-color: #45d6ab;
}

header {
    padding-bottom:150px;
    margin-bottom:12%;
    margin-left:5%;
    padding-right:5%;
}

#ether{
    flex:1;
    height:30%;
    width:100%;
}

header p {
    position:absolute;
    top:100px;
    left:100px;
    margin-top: -220px;
    margin-left: 180px;
    background-color: #00000088;
    height: 58px;
    color: white;
    font-size:50px;
    padding: 2%;
    border-radius: 20px;
    position: relative;
    width: 150px;
}

section {
    background-color: #c4ffed;
    margin-left:5%;
    margin-right:75%;
    padding-bottom:100%;
    margin-top:-24px;
    height:0px;
}

section h1{
    margin-left:10%;
    padding-top:30%
}
section h2{
    margin-left:15%;
    font-size:larger;
}

section p{
    display:inline;
    padding-left:15px;
    padding-right:60px;
}

.premier {
    display: inline;
    margin-left: 16%;
    padding-left:0px;
    padding-right:0px;
    margin-right:20%;
}

section input{
    width:10%;
    margin-left:16%;
}

.widthnum{
    width: 40px;
    
}

article{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    margin-top: -100%;
    margin-left:25%;
    background-color:white;
    margin-right:5%;
    height:0%;
}

article fieldset {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    flex-basis: 20%;
    flex-basis: 5%;
    align-items: center;
}

article input {
    border: none;
    background-color: #00b500;
    color: white;
    width: 150px;
    height: 75px;
    border-radius: 5px;
    font-size: 20px;
    padding-right: 20px;
    margin-left: 150px;
    margin-top: -55%;
}
/*footer article{
    background-color: #37b08d;
    margin-right:-50%;
    padding-top:10%;
    padding-left:9%;
    padding-right:50%;
    margin-top:-10%;
    padding-bottom:3%;
}*/
#img{
    width:300px;
    height:200px;
    margin-bottom: 20%;

}
#p {
    margin-left: -20%;
}
footer article a{
    text-align: end;
}

article p:first-of-type{
    font-size:x-large;
    width:48%;
    text-align:center;
    padding-right:10%;
}

article p {
    width: 48%;
    text-align: center;
    margin-top: -9%;
    padding-right: 10%;
    font-style: italic;
}

article p:last-of-type {
    width: 50%;
    font-style: normal;
    font-size: xx-large;
    margin-top:-4%;
}

fieldset{
    margin:10px;
}