body {
    background-color: #d3d3d3;
    margin-left:-1px;
}

ent {
    background-color: #37b08d;
    margin-left:-1%;
    margin-right:-100%;
    padding-top:10%;
    padding-left:9%;
    padding-right:107%;
    margin-top:-10%;
    padding-bottom:50px;
    
}

#logo{
    width:125px;
    height:62px;
    position:absolute;
    margin-left:2%;
}

#panier {
    position:absolute;
    width: 35px;
    height: 35px;
    margin-left:75%;
    margin-top:25px;
}

#reche {
    margin-left:25%;
    margin-top:16px;
    font-size: large;
    padding-right: 20%;
    position:absolute;
}

menu {
    display:flex;
    background-color: #2e7d67;
    margin-top: 49px;
    margin-left: -1%;
    margin-right:-10%;
    margin-bottom:0px;
}

menu a {
    font-size: 150%;
    color: white;
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
    border-left: solid;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 11px;
    margin-right:-5px;
}

menu a:first-of-type{
    border:none;
    margin-left:80px;
}

menu a:hover {
    background-color: #45d6ab;
}

header {
    margin-bottom:-0.3%;
    margin-left:5%;
    margin-right:-8px;
    padding-right:5%;
}

#ether{
    flex:1;
    height:30%;
    width:100%;
}

/*header p {
    background-color: #00000088;
    height: 58px;
    color: white;
    font-size:50px;
    padding: 2%;
    border-radius: 20px;
    position: relative;
    width: 150px;
}*/

section {
    background-color: #c4ffed;
    margin-left:5%;
    margin-right:75%;
    padding-bottom:100%;
    margin-top:-24px;
}

section h1{
    margin-left:10%;
    padding-top:6%
}
section h2{
    margin-left:15%;
    font-size:larger;
}

section p{
    display:inline;
    margin-left:20%;
}

.premier {
    display: inline;
    margin-left: 16%;
}

section input{
    width:10%;
    margin-left:16%;
}

.widthnum{
    width: 50px;
    
}

article{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
    flex-basis: 80%;
    margin-top: -123%;
}

article fieldset{
    display:flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    flex-basis: 20%;
    flex-basis: 15%;
    align-items:center;
    margin-left: 30%;
    
}

footer article{
    background-color: #37b08d;
    margin-right:-100%;
    padding-top:10%;
    padding-left:9%;
    padding-right:100%;
    margin-top:-10%;
    padding-bottom:3%;
}
#img{
    width:300px;
    height:200px;
    margin-bottom: 20%;

}
#p {
    margin-left: -20%;
}
footer article a{
    text-align: end;
}