body {
    background-color: #191919;
    margin-right: -0.01%;
    margin-left: -0.01%;
}

article:first-of-type {
    margin-top:-1%;
    background-color:#272727;
}

article {
    margin-top: -2.15%;
    background-color: #272727;
}

nav {
    margin-top:15px;
    margin-bottom:20px;
}
 a {
    color:darkgrey;
    font-family: Calibri;
    font-weight: 100;
    font-size: x-large;
    letter-spacing: 0.05em;
    margin:1%;
}
a:first-child{
    margin-left:39.7%;
}
 
a:hover{
    color:aliceblue;
    text-decoration:overline;
}

article p{
    margin-left:2%;
    font-family:"Open Sans";
    font-style:initial;
    color:azure;
    font-size:40px;
    letter-spacing:0.08em;
    margin-bottom:0.3%;
}

article img:first-of-type{
    margin-left:2%;
}

article img{
    margin-left:0.3%;
    border-radius:7px;
    position:relative;
}

article a:first-of-type{
    font-size: 100px;
    color:lightgray;
    background-color: #00000033;
    border-radius:10px;
    position:absolute;
    margin-top:4%;
    z-index:10;
    margin-left:0.3%;
    font-weight:600;
}

article a:last-of-type {
    font-size: 100px;
    color: lightgray;
    background-color: #00000033;
    border-radius: 10px;
    position: absolute;
    margin-top: 4%;
    z-index: 10;
    margin-left: -1.8%;
    font-weight: 600;
}

article a:hover{
    background-color:#00000073;
}

anime{
    display:none
}

#anime:active ~ #ani {
    display:block;
}










